@import "tailwindcss";
body {
  background-color: #E9ECEF; /* Gris de fondo de la imagen */
  color: #232F3E;
  -webkit-font-smoothing: antialiased;
}

.card-shadow {
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05), 0 8px 10px -6px rgba(0, 0, 0, 0.05);
}

@keyframes float {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-10px) rotate(2deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}